name: "CICD"

# The total recommended execution time for the "CI/CD Pull Request" workflow is around 20 minutes.

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

permissions:
  id-token: write
  contents: write

jobs:
  build-pages:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4

      - name: Build
        run: |
          make build-cicd

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist