name: "CICD"

# The total recommended execution time for the "CI/CD Pull Request" workflow is around 20 minutes.

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

permissions:
  id-token: write
  contents: write
  pages: write

jobs:
  build-pages:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Build
        run: |
          make build-cicd

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist
          name: like-c4-docs

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: like-c4-docs
