name: "CICD"

# The total recommended execution time for the "CI/CD Pull Request" workflow is around 20 minutes.

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

permissions:
  id-token: write
  contents: write
  pages: write

jobs:
  build-pages:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nhsdigital/nhs-notify-devcontainer-loaded:1.0.19
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Build
        run: |
          make build-cicd BASE_URL=${{ steps.pages.outputs.base_path }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist

  # Deployment job
  deploy-pages:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nhsdigital/nhs-notify-devcontainer-loaded:1.0.19
    needs: build-pages
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
